---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I'm Stanislav (or Stas, and definitely not Stan) Pogorskii, a full-stack web developer.
	</p>
	<p>
		In my past live (AKA about a year ago) I worked as a gaming journalist, but then I decided to switch to web development.
		It's crazy, but being a 27 years old, I somehow managed to get 10 years of experience writing about moving pixels. It's only logical to start making them (pixels) move next.
		And transitioning to game developer would be too predictable for my taste.
	</p>
	<p>
		Currently I work as a freelance developer at an amazing agency <a href="https://quantumweb.co/" target="_blank">quantumweb</a>, and you would be wise to hire us if you find yourself in need of a robust web app, or pretty much anything else web-related.
	</p>
	<p>However, being an ambitious guy, I still work on my own pet projects (more info here soon).</p>
	<p>
		And, of course, I'm working on this blog. Because I can't stop sharing my thoughts, and sometimes they are too lengthy for a tweet.
	</p>
</Layout>
