---
import {Icon} from "astro-icon/components";
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Stanislav Pogorskii. All rights reserved.
	<div class="social-links">

		<a href="https://x.com/pogorskii" target="_blank">
			<span class="sr-only">Follow me on X (Twitter)</span>
			<Icon name="logos:x" class='text-3xl transition hover:brightness-90 duration-200' fill="currentColor" />
		</a>
		<a href="https://github.com/pogorskii" target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<Icon name="github" class='text-3xl text-yellow transition hover:brightness-90 duration-200' />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: #001122;
		color: var(--yellow);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--yellow);
	}
</style>
